@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top, #0a2540, #020617);
  color: #e5e7eb;
}
/* NAV */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(14px);
  background: rgba(10, 37, 64, 0.6);
  z-index: 100;
}
/* SECTIONS */
.section {
  padding: 120px 80px;
}

.section h2 {
  font-size: 38px;
  margin-bottom: 20px;
}
button {
  width: 25%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #efd10b, #3b82f6);
  font-weight: 600;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
  bottom: 0%;
  position: fixed;
  width: 100%;
}
.social-media a {
  color: #e326e3;
  text-decoration: none;
}
/* GLASS */
.glass {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  margin: 40px;
  position: relative;
  top: 50px;
}
form {
  max-width: 420px;
}
 img {
  width: 300px;   
  height: auto;
   display: block;
  margin: 0 auto;
  background: none;
}